# Problem 1: Write a function thats input is a number and output is:
* Return True if the input number is even.
* Return False if the input number is odd.

In [6]:
# Solve problem 1 here
def odd_or_even(x):
    if x % 2 == 0:
        return True
    else:
        return False

print(odd_or_even(9))
odd_or_even(8)

False

True

# Problem 2: Find the sum and the average of this list of numbers.

Try doing this using a loop.  Then try doing this without using a loop.

In [15]:
# Solve problem 2 here:

my_list = [1, 5, 10, 55, 88, 44, 42, 50, 20, 38]

#loop
total = 0
for num in my_list:
    total = total + num
    total_avg = total/len(my_list)
print(total)
print(total_avg)
    

#without loop
list_sum = sum(my_list)
list_average = list_sum/len(my_list)

# Keep this as your last line in this cell.
print(list_sum, list_average)

353
35.3
353 35.3

# Problem 3:  Using a dictionary, count the words in this sentence. 
* Hint, you can use `.split()` to split a string into a list.

In [47]:
# Solve problem 3 here:

my_string = '''The Oklahoma City Zoo and Botanical Garden is a zoo and botanical garden located in Oklahoma City's Adventure District in northeast Oklahoma City, Oklahoma. The zoo covers 119 acres (48 ha) and is home to more than 1,900 animals. It is open every day except Thanksgiving, Christmas, and New Year's Day. The Oklahoma City Zoo is an accredited member of the Association of Zoos and Aquariums and the American Alliance of Museums.'''

def word_count(sentence):
    str_dict = dict()
    str_split = my_string.split()

    for word in str_split:
        if word in str_dict:
            str_dict[word] += 1
        else:
            str_dict[word] = 1
    return str_dict

word_count(my_string)

{'The': 3,
 'Oklahoma': 4,
 'City': 2,
 'Zoo': 2,
 'and': 6,
 'Botanical': 1,
 'Garden': 1,
 'is': 4,
 'a': 1,
 'zoo': 2,
 'botanical': 1,
 'garden': 1,
 'located': 1,
 'in': 2,
 "City's": 1,
 'Adventure': 1,
 'District': 1,
 'northeast': 1,
 'City,': 1,
 'Oklahoma.': 1,
 'covers': 1,
 '119': 1,
 'acres': 1,
 '(48': 1,
 'ha)': 1,
 'home': 1,
 'to': 1,
 'more': 1,
 'than': 1,
 '1,900': 1,
 'animals.': 1,
 'It': 1,
 'open': 1,
 'every': 1,
 'day': 1,
 'except': 1,
 'Thanksgiving,': 1,
 'Christmas,': 1,
 'New': 1,
 "Year's": 1,
 'Day.': 1,
 'an': 1,
 'accredited': 1,
 'member': 1,
 'of': 3,
 'the': 2,
 'Association': 1,
 'Zoos': 1,
 'Aquariums': 1,
 'American': 1,
 'Alliance': 1,
 'Museums.': 1}

# Problem 4: Write a function that input is a number and output returns the following
* If the input is divisible by three, return 'fizz'
* If the input is divisible by five, return 'buzz'
* If the input is divisible by three and by five, return 'fizzbuzz'
* If the input is not divisible by three or five, return None.

In [44]:
# Solve Problem 4 here:
def division(num):
    if num % 3 == 0 and num % 5 == 0:
        return 'fizzbuzz'
    elif num % 3 == 0:
        return 'fizz'
    elif num % 5 == 0:
        return 'buzz'
    else:
        return None
    
division(15)

'fizzbuzz'

# Problem 5: 
Write a function that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

Example input and expected output

input = ["Michele", "Robin", "Sara", "Michele"]

expected output = ['Michele', 'Robin', 'Sara']

In [57]:
# Solve problem 5 here:

names = ["Michele", "Robin", "Sara", "Michele"]

def dup_removal(lists):
    new_names = []
    for name in names:
        if name in new_names:
            new_names = new_names
        else:
            new_names.append(name)
    print(new_names)

dup_removal(names)

['Michele', 'Robin', 'Sara']

# Problem 6: 
Write a function that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and returns a new list of only the first and last elements of the given list.

Example input and expected output:

input = [5, 10, 15, 20, 25]

expected output = [5, 25]

In [59]:
# Solve problem 6 here:

input_list = [5, 10, 99, 20, 25]

def extract(lists):
    new_list = [(lists[0]),(lists[-1])]
    print(new_list)

extract(input_list)

[5, 25]

# Problem 7:  Implement a function that takes as input three variables, and returns the largest of the three. 
Do this without using the Python max() function! 
_*Note all three input numbers will always be different, no need to account for a tie._

Example input and expected output:

input = your_function(1, 5, 10)

expected output:  10

In [60]:
# Solve Problem 7 here:

def your_function(a, b, c):
    # Fill in your code below and return max value of a, b, c
    if a > b:
        if a > c:
            return a
        else:
            return c
    elif b > a:
        if b > c:
            return b
        else:
            return c

In [61]:
# Test to see if your function works properly.
your_function(1, 5, 10)

10